
.header {
    background-color: #ffffff;
    height: 65px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 4px;
}

#headTitle {
    background-color: #4aaaa5;
    text-align: center;
    height: 65px;
    width: 350px;
    float: left;
    margin-left: 150px;
}

#headLinks{
    background-color: #ffffff;
    color: #777777;
    float: right;
    font-size: 23px;
    height:65px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 150px;
}

body{
    background-image: url("../images/backgrounds/what-the-hex.png");
    background-repeat: repeat;
    background-color: black;

}

/* .midBG { */
    /* background-image: url("../images/backgrounds/what-the-hex.png"); */
    /* background-repeat: repeat; */
    /* background-color: black; */
    /* height: 650px; */
/* } */



.midMain {
        /* The border below is just for testing behavior, remove */
    border: solid;
    border-color: #777777;
    border-width: 5px;
        /*  */
    display: block;
    text-align: left;
    background-color: #ffffff;
    height: 550px;
    width: 900px;
    float: center;
    padding-top: 0;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
}

.footer {
    height: 75px;
    background-color: #666666;
    font-size: 80%;
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 10px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 28px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #777777;
}

